@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black text color */
  --background-start-rgb: 255, 255, 255; /* White background */
  --background-end-rgb: 255, 255, 255; /* Consistent white background */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0; /* Maintain black text for light mode */
    --background-start-rgb: 255, 255, 255; /* White background for light mode */
    --background-end-rgb: 255, 255, 255; /* Consistent white background for light mode */
  }
}

/* Ensure the body uses these variables */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.my-masonry-grid {
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

/* Style your grid items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .my-masonry-grid {
    margin-left: 1; /* remove gutter size offset */
  }

  .my-masonry-grid_column {
    padding-left: 1; /* remove gutter size */
  }

  .my-masonry-grid_column > div {
    margin-bottom: 1px; /* adjust margin if needed */
  }
}