@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black text color */
  --background-start-rgb: 255, 255, 255; /* White background */
  --background-end-rgb: 255, 255, 255; /* Consistent white background */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0; /* Maintain black text for light mode */
    --background-start-rgb: 255, 255, 255; /* White background for light mode */
    --background-end-rgb: 255, 255, 255; /* Consistent white background for light mode */
  }
}

/* Ensure the body uses these variables */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}