.dateDisplay {
   visibility: hidden !important;
}

.block {
    display: block;
    margin: 10px 0px 0px 35px;
    padding-bottom: 10px;
}


.timeUnclicked, .timeClicked {
    padding-left: 0.75rem;  /* px-3 */
    padding-right: 0.75rem; /* px-3 */
    padding-top: 0.25rem;   /* py-1 */
    padding-bottom: 0.25rem;/* py-1 */
    border-radius: 8px;    /* rounded-2xl */
    font-size: 15px;
    margin-left: 25px;
  }
  
.timeUnclicked {
    border: 1px solid #f2f3f4; /* border */
    background-color: #f2f3f4; /* bg-gray-200 */
    color: black;  
}

.timeClicked {
    /*border: 2px solid black; /* border */
    background-color: #656565; /* bg-gray-200 */
    color: white;  
}