
.card {
    background: white;
    overflow: auto;
    width: 100%;
    height: 100vh; 
    position: absolute;
}

/* Responsive styles for larger screens */
@media (min-width: 768px) {
    .card {
        display: grid;
        grid-template-columns: 60% 40%;
        margin:auto;
        width:100%;
        height:100%;
    }
}
    .imagecontainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background: rgba(0, 0, 0, 0.05);
    }

    .imagecontainer:hover .navigation {
    display: flex;
    }

    .videocontainer {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
      background: rgba(0, 0, 0, 0.05);
    }

    @media (max-width: 768px) {
      .imagecontainer {
        width: 100%;
        height: 300px; /* Adjusted height if necessary */
        position: relative; /* Adjust if necessary */
        top: 75px; /* Set top to the height of the header */
        margin-bottom: 70px; /* Bottom margin equal to the footer height */
      }

      .videocontainer{
        width: 100%;
        height: 70%; /* Full viewport height for videos */
        position:relative;
        top: 75px; /* Set top to the height of the header */
        margin-bottom: 70px; /* Bottom margin equal to the footer height */
        overflow: hidden;
      }
    }

    .navigation {
        display: none;
        position: absolute;
        top: 50%;
        left: 10px;
        right: 10px;
        justify-content: space-between;
        align-items: center;
        transform: translateY(-50%);
        }

      .navbutton {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.55);
      color: white;
      font-size: 15px;
      font-weight: 300;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      }

    .textcontainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        color: black;
        overflow-y: auto;
        padding: 0px;
        }

    .header{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
    width: 100%;
    }

    @media (max-width: 768px) {
    .header {
        position: fixed; /* Fixed at the top */
        width: 100%;
        top:0;
        left:0;
        background: white; /* White background */
    }
    }

    .content{
    flex: 1;
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    white-space: normal;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }}

    .preformattedtext {
    white-space: pre-wrap;
    font-size: 15px;
    }
    
    .footer {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 65px;
      box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.3);
    }

    @media (max-width: 768px) {
      .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white; /* Ensure the footer has a background color */
      }
    }

    .icon {
    width: 23px;
    height: 23px;
    margin-right: 8px; /* Space between icon and text */
    stroke-width: 1.25; /* Ensure stroke width is consistent */
    flex-shrink: 0; /* Prevents icon from shrinking */
    transition: fill 0.2s; /* Smooth fill transition */
    }

    @media (max-width: 768px) {
    .content {
        margin-bottom: 70px;
    }
}